.projects {
  background-color: #f9f9f9;
}

.projects-section {
  padding: 4rem 2rem;
}

.projects-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}