.projects {
  background-color: #f9f9f9;
}

.projects h1 {
  z-index: 1;
  margin-top: 1rem;
  color: #0f172a;
}

.projects-section {
  padding: 4rem 2rem;
}

.projects-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}